﻿
@{
    ViewBag.Title = "Social";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <form asp-action="Test" asp-controller="Social" method="post" class="my-header social-main-group">
        <h5>Social Media Private Message sender</h5>
        <div class="msg-group">
            <div class="lbl-msg">
                <span>Message</span>
            </div>
            <textarea id="my_msg" rows="10" cols="30" class="form-control"></textarea>
        </div>
        <div class="msg-opt-group">
            <div class="opt-row">
                <div class="social-type-group">
                    <input type="checkbox" name="social" value="" id="snap_chk"  class="form-control"/>
                    <label>Snapchat</label>
                </div>
                <div>
                    <label>Account ID:</label>
                    <input type="text" name="name" value="" id="snap_acc_id"  class="form-control" />
                </div>
                <div>
                    <label>Result:</label>
                    <span id="snap_result">xxxxxx</span>
                </div>
            </div>
            <div class="opt-row">
                <div class="social-type-group">
                    <input type="checkbox" name="social" value="" id="facebook_chk"  class="form-control"/>
                    <label>Facebook</label>
                </div>
                <div>
                    <label>Account ID:</label>
                    <input type="text" name="name" value="" id="facebook_acc_id"  class="form-control" />
                </div>
                <div>
                    <label>Result:</label>
                    <span id="facebook_result">xxxxxx</span>
                </div>
            </div>
            <div class="opt-row">
                <div class="social-type-group">
                    <input type="checkbox" name="social" value="" id="twitter_chk"  class="form-control"/>
                    <label>Twitter</label>
                </div>
                <div>
                    <label>Account ID:</label>
                    <input type="text" name="name" value="" id="twitter_acc_id"  class="form-control" />
                </div>
                <div>
                    <label>Result:</label>
                    <span id="twitter_result">xxxxxx</span>
                </div>
            </div>
            <div class="opt-row">
                <div class="social-type-group">
                    <input type="checkbox" name="social" value="" id="insta_chk"  class="form-control"/>
                    <label>Instagram</label>
                </div>
                <div>
                    <label>Account ID:</label>
                    <input type="text" name="name" value="" id="insta_acc_id"  class="form-control" />
                </div>
                <div>
                    <label>Result:</label>
                    <span id="insta_result">xxxxxx</span>
                </div>
            </div>
            <div class="my-footer">
                <input type="submit" name="name" value="Test" />
                <button id="btn_send" class="btn btn-primary" value="SendPrivateMsg" asp-action="SendPrivateMsg"> Send Private Message </button>
            </div>
        </div>
    </form>

