body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.social-main-group .msg-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }
  .social-main-group .msg-group .lbl-msg {
    margin-right: 390px; }
.social-main-group .msg-opt-group {
  margin: 30px; }
  .social-main-group .msg-opt-group .opt-row {
    display: flex;
    justify-content: space-between; }
    .social-main-group .msg-opt-group .opt-row .social-type-group {
      width: 100px;
      display: flex;
      align-items: center; }
      .social-main-group .msg-opt-group .opt-row .social-type-group label {
        margin-bottom: 0; }
  .social-main-group .msg-opt-group .my-footer {
    text-align: right; }

/*# sourceMappingURL=Site.css.map */
